/* ------------------------------------*\
    $LAYOUT
\*------------------------------------ */

.Site {
  min-height: 100vh;
  flex-wrap: nowrap;
}

.Site-main {
  flex-wrap: nowrap;
}

.lc {
  clear: both;
  padding: var(--s_row) var(--gutter);
  position: relative;
  width: 100%;

  & + & {
    padding-top: 0;
  }
}

.page-header {
  
  &:not(:only-child) {
    margin-bottom: var(--s_row);
  }

  > * {
    margin: 0;
  }
}
