
$orbital-outline :  var(--ms-size_4);


.S-c2a {
   @media (max-width: 767px) {
    justify-content: start;
  }
}

.S-areas {
  overflow: hidden;
  align-items: start;

  @media (min-width: 768px) {
    padding: $orbital-outline 0 0;

    + .S-c2a {
      padding-top: 0;
    }
  }
  
}

.S-clients {
  margin-bottom:  var(--s_row);
  background: $color-base;
}


.map {
  .-is-bg {
    z-index: -1;
  }
  svg {
    width: 100%;
    height: 100%;
  }

  @media (max-width: 767px) {
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    transform-origin: 0 0;

    svg {
      width: auto;
    }
  }
}


.encircle {
  font-weight: $regular;
  font-size: var(--ms-size_2);
  padding: 0 0 0 var(--gutter);
  
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: $color-base;
    color: $color-body;
    padding: 10%;
    border-radius: 50%;
    position: relative;
    text-align: center;

    &::before, &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      padding: var(--gap);
    }

    &::after {
      position: absolute;
      top: calc(#{$orbital-outline} * -1);
      left: calc(#{$orbital-outline} * -1);
      right: calc(#{$orbital-outline} * -1);
      bottom: calc(#{$orbital-outline} * -1);
      border-radius: 50%;
      border: 1px solid $t-light;
    }
  }

}

