

.g-1-1 {
  grid-template-columns: 1fr 1fr;
}

.g-1-1-1 {
  grid-template-columns: 1fr 1fr 1fr;
}

.g.-sm-1 {
  @media (max-width: $grid_mode_max) {
    grid-template-columns: 1fr;
  }
}


.g.-overlay {

  @media (min-width: $grid_overlay_mode) {
    grid: 100% / 100%;

    > * {
      grid-column: 1;
      grid-row: 1;
    }
  }
}

.g.-overflow {
  margin-right: calc(var(--gap) * -1);
  grid-auto-flow: column;
}


.gi.-has-bg {
  padding: .5vw;
  background: $color-base;
}

.g.-wall {
  --gap: 1rem;
}

.g.agency-logos {
  width: 20vw;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  left: 50%;
  bottom: var(--s_row);

  .gi.-has-bg {
    padding: .25vw;
  }
}

