/* Header */

.Site-header {
  @media (max-width: $bp_xxs) {
    font-size: var(--ms-size_-1)
  }

  display: grid;
  grid-template-columns: auto 1fr;

  @media (min-width: $menu_mode) {
    display: flex;
    justify-content: space-between;
  }
}


.Site-logo {
  box-sizing: content-box;
  position: relative;
  width: 3.5em;
  height: 3.395em;
  fill: $color-body;
  display: block;
  padding: 1em;
  background: $color-base;
  z-index: 9999;
  
}
