/* Links */
a {
  color: $color-link;
  text-decoration: none;
  transition: $trans-fast;
  position: relative;

  @include link-styles {
    color: $color-link-respond;
  }


  .typeset &:not(.button) {
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    background-image: linear-gradient(to bottom, $color-link-respond, $color-link-respond);
    background-size: 100% 10%;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .3s;

    @include link-styles {
      background-size: 100% 90%;
      color: $color-link-respond;
      span {
        mix-blend-mode: difference;
      }
    }
  }
}