.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $color-body;
    z-index: 999999;
    pointer-events: none;
    animation: fadeOut .4s linear 2.6s forwards;

    .pmw {
        width: 15rem;
        width: clamp(15rem, 25vw, 50rem);
        animation: 1.3s linear forwards fadeInOut;
        opacity: 0;
    }

    .waterfall {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        transform: scale(0, 0);
        fill-opacity: 0;
        animation: 2s ease-out 1s forwards scaleInOut;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }
}

@keyframes fadeInOut {
    50%,
    67% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@keyframes scaleInOut {
    0% {
        transform: scale(0, 0);
        fill-opacity: 1;
    }

    25% {
        transform: scale(1, .01);
    }

    45%,
    55% {
        transform: scale(1, .75);
    }


    75% {
        transform: scale(1, .03);
        fill-opacity: 1;
    }

    100% {
        animation-timing-function: ease-in;
        transform: scale(0, 0.03);
        fill-opacity: 0;
    }
}