$move: var(--s_row);

.m-o-link {
  border-left: .2em solid currentColor;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;

  .m-o-text {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .more {
    margin-top: auto;
  }
}

.m-o-media {
  margin-bottom: $s_lh;
  display: block;
  text-align: center;

  .-has-icon & {
    margin-bottom: calc(#{$s_lh} * 1.5);

    @media (min-width: $bp-small) {
      margin-bottom: calc(#{$s_lh} * 2);
    }
  }
}

.m-o-body {
  color: $t-gray;
}

.stagger {
  .m-o {
    margin: 0 calc(var(--s_col) * -1) $move;
    background: linear-gradient(to bottom, $color-body 0 20%, alpha-accent(rgba($t-gray-blue, .1)) 20% 100%);
  }

  .m-o-media {
    position: relative;
    z-index: 1;
    flex: 0 0 calc(100% - calc(var(--s_col) * 4));
    margin: 0 var(--s_col) 20% auto;
    order: -1;

    &::after {
      content: "";
      display: block;
      padding-bottom: 75%;
    }

    .is-bg {
      background: $t-cyan;
      transform: translate(calc(var(--s_col) * -2), 30%);
      transition: transform $trans-fast ease-in-out;
    }

    img {
      @include object-fit(cover);

      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      display: block;
      z-index: 999;
    }
  }

  .m-o:nth-child(even) .m-o-media {
    margin: 0 auto 20% var(--s_col);

    .is-bg {
      transform: translate(calc(var(--s_col) * 2), 30%);
      background: $t-blue-light;
    }
  }

  .m-o-text {
    padding: var(--s_col);
  }


  @media (min-width: $grid-mode) {
    .m-o {
      background: none;
    }

    .m-o-media {
      order: 99;
      margin: 0;
      flex: 0 1 42%;
      align-self: start;
      transform: translateY(2rem);

      .is-bg {
        transform: scale(.95) translate(-20%, 30%);
      }
    }

    .m-o:nth-child(even) .m-o-media {
      transform: translateY(calc(calc(#{$move} - 2rem) * -1));
      order: -1;
      margin: 0;

      .is-bg {
        transform: scale(.95) translate(20%, 30%);
        background: $t-blue-light;
      }
    }

    .m-o-text {
      flex: 1 1 50%;
      padding: 8%;
      padding-right: 16%;
      background: alpha-accent(rgba($t-gray-blue, .1));
      //emargin-top: var(--s_col);
    }

    .m-o:nth-child(even) .m-o-text {
      align-self: flex-end;
      padding-left: 16%;
      padding-right: 8%;
    }
  }

  .m-o a:hover + .m-o-media .is-bg {
    transform: scale(1) translate(0%, 0%);
  }
}


