/* ------------------------------------*\
    $TYPE
\*------------------------------------ */

.text-center {
  text-align: center;
}

.ltr-sp {
  letter-spacing: .1em;
  text-transform: uppercase;
}

.typeset > *:last-child {
  margin-bottom: 0;
}

.map text {
  font-size: var(--ms-size_2);
}