/* ------------------------------------*\
    $COLORS
\*------------------------------------ */

.map svg {
  fill: currentColor;

  [fill="#645d5b"] {
    fill: $t-mid;
  }
  [fill="#3d3a39"] {
    fill: $t-mid-dark;
  }

  circle {
    paint-order: stroke;
  }
  
}

.subhead,
.section-body {color: $t-xlight;}