/* ------------------------------------*\
    $TYPE
\*------------------------------------ */

.text-center {
  text-align: center;
}

.ltr-sp {
  letter-spacing: .1em;
  text-transform: uppercase;
}

.typeset > *:last-child {
  margin-bottom: 0;
}

.map text {
  font-size: var(--ms-size_2);
}

@media (min-width: $bp_small) {
  .text-contain {
    max-width: 20em;
    margin: auto;
  }

  .page-header + .text-contain {
    text-align: center;
  }
}