/* ------------------------------------*\
    $BACKGROUNDS
\*------------------------------------ */


.lond {
  color: $t-xlight;
}

.bg-color-blue {
  background-color: $t-blue;
}

.bg-color-blue-dark {
  background-color: $t-blue-dark;
  color: $t-xlight;
}

.bg-color-blue-light {
  background-color: $t-blue-light;
}

.bg-color-violet {
  background-color: $t-violet;
}

.bg-color-cyan {
  background-color: $t-cyan;
}

.bg-color-orange {
  background-color: $t-orange;
}

.bg-color-gray {
  background-color: $t-gray;
}

.bg-color-gray-blue {
  background-color: $t-gray-blue;
}

.bg-color-gray-light {
  background-color: $t-gray-light;
}

.overlay-color-blue-dark::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $t-blue-dark;
  opacity: 80%;
}

.geo {
  object-position: 22% 50%;
}

