/* ------------------------------------*\
    $COLORS
\*------------------------------------ */

.map svg {
  fill: $t-mid-dark;

  .highlight {
    fill: $t-mid;
    @media (max-width: 767px) {
      fill-opacity: .6;
    }
  }

  circle {
    paint-order: stroke;
  }

  text {
    fill: $color-base;
  }

  @media (max-width: 767px) {
    text, circle {
      //display: none;
    }
  }
}

.subhead,
.section-body {color: $t-light;}

.S-hero_text {color: $t-xlight;}