
@media (min-width: $hero_layout_mode) {
  .home .Site-header {
    position: absolute;
    width: 100%;
    z-index: 99999;
  }
  
  .home .Site-logo {
    transform: translate3d(0,calc(50vh - 50%),0) scale(2);
    transition-timing-function: ease-out;
    transition-duration: .3s;
    transform-origin: 0 50%;
  }
}

.home .Site-main {
  justify-content: center;
}

.home .S-hero {
  overflow: hidden;

  @media (min-width: $hero_layout_mode) {
    min-height: 100vh;
  }
}

.home .S-hero_media {
  position: relative;

  img {
    @media (min-width: $grid_overlay_mode) {
      display: block;
      opacity: .75;
      transform: translate(15%, -15%);
    }

    @media (min-width: $hero_layout_mode) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-30%, -50%);
    }
  }
}

.home .S-hero_text {
  max-width: 15em;

  @media (min-width: $grid_overlay_mode)  {
    max-width: 12em;
    transform: translateY(-50%);
  }

  @media (min-width: $hero_layout_mode) {
    transform: translateX(7rem);
  }

  @media (min-width: $bp_xxl) {
    max-width: 15em;
    transform: translateX(5rem);
  }

  @media (min-width: $bp_xxxl) {
    transform: translateX(0);
  }
}