<footer class="Site-footer f jc-sb ai-c">
&copy; Portess Medical Writing. All rights reserved.&nbsp;<a href="/privacy-policy">Privacy Policy</a>.
<a class="credit" href="https://satellite7.com">Site by S7</a></footer>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"></script>
<script src="https://unpkg.com/@barba/core"></script>
<script src="{{ '/scripts/main.js' | url }}"></script>
</body>
</html>